@model Basketbol.Models.oyuncular

@{
    ViewBag.Title = "Create";
}


<center>
    <h1>Ekle</h1>
    <h5 style="color:red">@ViewBag.Message</h5>
</center>
<style>
    table {
        font-family: 'Lucida Sans Unicode';
        text-align: center;
        color: blue;
        font-size: 15px;
        font-weight: normal;
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <hr />
    <table align="center">



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <tr>
            <td> @Html.LabelFor(model => model.Adı)</td>

            <td>   @Html.EditorFor(model => model.Adı)</td>
        </tr>
        @Html.ValidationMessageFor(model => model.Adı, "")

        <tr>
            <td>@Html.LabelFor(model => model.Numarası)</td>

            <td>  @Html.EditorFor(model => model.Numarası)</td>
        </tr>
        @Html.ValidationMessageFor(model => model.Numarası, "")


        <tr>
            <td></td>
            <td><input type="submit" value="Ekle" id="btn1"></td>

        </tr>
    </table>
 
}
